<ol class="breadcrumb">
    <li class="breadcrumb-item">Projeto Mateus</li>
    <li class="breadcrumb-item">Categoria</li>
    <li class="breadcrumb-item active">Inclusão</li>
</ol>

<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" ng-model="Dto.nome" id="nome" placeholder="Nome">
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" ng-model="Dto.ativo" class="form-check-input">
            Ativo
        </label>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="save()">Cadastrar</button>
</form>