<ol class="breadcrumb">
    <li class="breadcrumb-item">Projeto Mateus</li>
    <li class="breadcrumb-item">Categoria</li>
    <li class="breadcrumb-item active">Lista</li>
</ol>
<span ng-click="new()">Novo</span>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ativo</th>
            <th scope="col">Data Cadastro</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in Lista">
            <th>{{item.nome}}</th>
            <td>{{item.ativo ? 'Sim' : 'Não'}}</td>
            <td>{{item.dataCadastro | date: 'dd/MM/yyyy' }}</td>
            <td><span ng-click="update(item.id)">Editar</span> &nbsp; <span ng-click="remove(item.id)">Excluir</span></td>
        </tr>
    </tbody>
</table>