<ol class="breadcrumb">
    <li class="breadcrumb-item">Projeto Mateus</li>
    <li class="breadcrumb-item">Cliente</li>
    <li class="breadcrumb-item active">Edição</li>
</ol>

<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" ng-model="Dto.nome" id="nome" placeholder="Nome">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" ng-model="Dto.email" id="email" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="update()">Alterar</button>
</form>